<h2>Classes</h2>
{{#each classes}}
	<div class="block">
		<h3>{{this.title}}</h3>
		<p>{{this.description}}</p>
		<a class="button" href="/classes/{{this._id}}/details">Class Details</a>
	</div>
{{/each}}